/* Free fonts from https://www.1001freefonts.com/ */
@font-face {
    font-family: "ronde";
    src: url("/fonts/SimpleRonde-Regular.ttf");
}

*.cursive {
    font-family: "ronde";
    text-transform: lowercase;
}
*.block {
    /* default is fine */
}

*.lowercase {
    text-transform: lowercase;
}
*.uppercase {
    text-transform: uppercase;    
}
/*--------------------------------------------------------------------------------------------------------*/

body {
    background-color: #000070;
    color: #d8DBE2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


div.footer{
    text-align: center;
    font-size: x-small;

    position:fixed;
    bottom:0;

    width:100%;
    background-color: #303030;

}

button {
    background-color: #303030;
    color: #d8DBE2;
    border: 1px solid #d8DBE2;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;

    font-weight: x-large;
    height: 50px;
    min-width: 150px;
}


/*--------------------------------------------------------------------------------------------------------*/
/* Header */
table.header{
    width: 100%;
    text-align: center;
    height: 30px;
    vertical-align: middle;
}

table.header tr td {
    width:16%;
}   

/*--------------------------------------------------------------------------------------------------------*/
/* Anchors */
a {color:gainsboro; border-bottom: 1px dotted gold;}
a:link {text-decoration: none;}
a:active {font-weight: bold;}
a:visited {color:gainsboro;}
a:hover {
    color:gold;
    text-decoration: underline;
}

a.next:before{
    content:"🔥 "
}
a.next:after{
    content:" 🔥"
}
a.next{
    padding: 20px;
    background-color:seagreen;
    text-align: center;
}
/*--------------------------------------------------------------------------------------------------------*/
/* Found the glow effect here https://www.proglobalbusinesssolutions.com/css-hover-effects/ */
table.header a {
    color:gainsboro;    
    transition: .5s; 
    border-radius: 50%;
    border-bottom: none;
    font-weight: bold;
}
table.header a:before{  
    background: gold;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;

    border-radius: 50%;
}
table.header a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px gold;
    }
table.header a:hover {
    color: gold;
    box-shadow: 0 0 5px gold;
    text-shadow: 0 0 5px gold;
}


/*--------------------------------------------------------------------------------------------------------*/
/* Homepage */

span.homewelcome{
    font-weight: bold;
    font-size: xx-large;
    color: #DAA49A;
}


table.activities tr td{
    border: solid 2px #58A4B0;
    height: 220px;
    width: 300px;
    vertical-align: top;
    padding: 10px;
}

table.activities * .title {
    font-weight: bold;
    font-size: larger;
    color: #DAA49A;
}

table.activities * .title::after {
    content: "\A";
    white-space: pre;
}


table.activities * select {
    width: 250px;
    text-align: center;
    font-size: x-large;
}

span.home_stat{
    color: #58A4B0;
}

/*--------------------------------------------------------------------------------------------------------*/
/* Results */
ol.results {
    font-size: x-large;    
}

ol.results .caligraphie{
    font-family: "ronde";
    font-size: xx-large;
    color: #DAA49A;
}

ol.results .seenWeek{
    font-size: small;
    font-style: italic;
    color: #58A4B0;
}

div.center_me {
    width: 100%;
    text-align: center;    
}