{% extends 'master01.html' %}

{% block pagename %} Dictée {% endblock %}

{% block contents %} 
<h1>{{ title }} ({{session["dictee year"] | upper }} semaine {{session["dictee week"]}})</h1>
<h2>Mot {{ session["current word count"] }} sur {{ session["max word count"] }}</h2>
    <!-- {{word}} -->



<button onClick="javascript:replayLatestAudio();">👂 Écouter encore</button> / <button onClick="location.reload();">⏭️ Passer au suivant</button> / <button onClick="if (areYouSure()) {window.location.href='home';}">🖐️ On arrête ici</button>

{% autoescape false %}
<script lang="javascript">
    //run the speech 2 text API on load (language and word)
    text2speechAPI("{{ word[3] }}", "{{ word[0] }}");
</script>
{% endautoescape %}  

<pre>{{ dbg }}</pre>
{% endblock %}
