{% extends 'master01.html' %}

{% block pagename %} Help {% endblock %}

{% block contents %} 
<img src="favicon.png" alt="logo" /><span class="homewelcome">Dictee-Tor ("dictator" ... got it? hahaha!)</span><br/>
<div class="acknowledgements">
By AlanFromJapan / MIT license / Full source code here <a href="https://github.com/AlanFromJapan/dictee-tor">on Github</a>.<br/>
Text-to-Speech API by <a href="https://voicerss.org/api/">Voice RSS</a> (thank you♥)<br/>
Wonderful handwritten font "SimpleRonde" by <a href="https://www.1001fonts.com/simpleronde-font.html">1001fonts.com</a><br/>
</div>
<br/>
For the help, check the README.md file in the app folder or <a href="https://github.com/AlanFromJapan/dictee-tor/blob/main/README.md">online</a>.
{{ dbg }}
{% endblock %}
