{% extends 'master01.html' %}

{% block pagename %} Homepage {% endblock %}

{% block contents %} 
<span class="homewelcome">Bienvenue sur Dictee-Tor</span><br/>
By AlanFromJapan / MIT license / Full source code here <a href="https://github.com/AlanFromJapan/dictee-tor">on Github</a>.<br/>
<br/>
Une petite application pour aider vos enfants a s'entrainer a la dictée par eux-même.
<br/>

<ul>
    <li>Total words in database : <span class="home_stat">{{ stats[0] }}</span></li>
    <li>Years available in database : <span class="home_stat">{{ stats[1]|length }}</span></li>
    <li>weeks available in database (total) : <span class="home_stat">{{ stats[2]|length }}</span></li>
</ul>

<table class="activities">
    <tr>
        <td>
            <span class="title">Dictée de la semaine</span>
            Choisissez une semaine et pratiquez les mots de <strong>cette semaine</strong>.<br/>
            <br/>
            <select type="text" id="colorSelect" name="colorSelect" onchange="goToDictee('single', this.options[this.selectedIndex].value)">
                <option selected="selected" value="">[Choisis une dictée]</option>
                <!--option selected="selected" value="{{ stats[2][0][0] }}-random">{{ stats[2][0][0] }} - random week!</option-->
            {% for year_week in stats[2] %}
                <option value="{{ year_week[0] }}-{{ year_week[1] }}">{{ year_week[0] }} - week {{ year_week[1] }}</option>
            {% endfor %}
            
            </select>
            

        </td>
        <!-- ============================================================================================================= -->
    
        <td>
            <span class="title">Dictée de revision</span>
            Choisissez une semaine et pratiquez des mots <strong>du début de l'année jusqu'à cette semaine</strong>.<br/>
            <br/>
            <select type="text" id="colorSelect" name="colorSelect" onchange="goToDictee('revision', this.options[this.selectedIndex].value)">
                <option selected="selected" value="">[Choisis une dictée]</option>
                <!--option selected="selected" value="{{ stats[2][0][0] }}-random">{{ stats[2][0][0] }} - random week!</option-->
            {% for year_week in stats[2] %}
                <option value="{{ year_week[0] }}-{{ year_week[1] }}">{{ year_week[0] }} - week {{ year_week[1] }}</option>
            {% endfor %}
            
            </select>
            

        </td>
    </tr>
</table>


<script lang="javascript">
    
    function goToDictee(dicteeType, selectedWeek){
        if (selectedWeek != "")
            window.location.href = `new_dictee?weekid=${selectedWeek}&mode=${dicteeType}`;
    }
</script>
{{ dbg }}
{% endblock %}
