{% extends 'master01.html' %}

{% block pagename %} {{ title }} {% endblock %}

{% block contents %} 

<h1>{{ title }}</h1>

{% autoescape false %}
  {{ pagecontent }}
{% endautoescape %}  

<ol class="results">
  {% for result in results %}
  <li>{{result[0]}}&nbsp;&nbsp;<span class='caligraphie'>{{result[0]}}</span> {% if result[2] != session["dictee week"] %}<span class="seenWeek">(vu en semaine {{result[2]}})</span> {% endif%}</li>
  {% endfor %}
</ol>

<div class="center_me">
  <button onClick="window.location.href='new_dictee?mode={{session["dictee mode"]}}&weekid={{session["dictee year"]}}-{{session["dictee week"]}}';">Recommencer la même!</button>&nbsp;&nbsp;<button onClick="window.location.href='home';">Une autre!</button>
</div>

{% endblock %}

{% block debug %}
{{ dbg }}
{% endblock %}
